{% extends "base.html" %}

{% block title %} Y2matecom YouTube Downloader and Converter – Download YouTube videos in MP3, MP4, 3GP | Y2mate.com{% endblock title %}
{% block currentActive %}{% endblock currentActive %}
{% block body %}
<div class="about-main pt-4 pb-5">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-6 mb-4">
                <div class="content-wrapper">
                    <h1>404 Not Found</h1>
                    <p>Sorry, that page doesn't exist. Please check the URL and try again.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block customscript %}
{% endblock customscript %}