{% extends "base.html" %}

{% block title %} Y2matecom YouTube Downloader and Converter – Download YouTube videos in MP3, MP4, 3GP | Y2mate.com{% endblock title %}
{% block currentActive %}{% endblock currentActive %}
{% block body %}
<div class="about-main pt-4 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-wrapper">
                    <h1>Y2matecom By Maninder</h1>
                    <p>"y2mate," authored by Maninder, is a versatile online platform renowned for its seamless YouTube video and audio downloading capabilities. Offering convenience and efficiency, it stands as a go-to destination for users seeking to effortlessly obtain multimedia content from YouTube. Explore its features and contribution on GitHub at <a href="https://github.com/maninderdev">https://github.com/maninderdev.</a></p>
                </div>
            </div>
            <div class="col-md-6 text-end">
                <img src="/static/images/maninder_dev_profile.jpg" alt="Maninder Dev Profile">
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block customscript %}
{% endblock customscript %}