<!DOCTYPE html>
<html>
<head>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}{% endblock title %}</title>
    <meta name='robots' content='max-image-preview:large' />
    <link rel="alternate" type="application/rss+xml" title="Y2matecom YouTube Downloader and Converter - Download YouTube videos in MP3, MP4, 3GP | Y2mate.com &raquo; Feed" href="https://y2matecom.com/dev/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Y2matecom YouTube Downloader and Converter - Download YouTube videos in MP3, MP4, 3GP | Y2mate.com &raquo; Comments Feed" href="https://y2matecom.com/dev/comments/feed/" />
    <link rel='stylesheet' id='contact-form-7-css' href='/static/css/styles.css?ver=5.7.7' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css-css' href='/static/css/bootstrap.min.css?ver=6.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='/static/css/all.min.css?ver=6.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='font-css' href='/static/css/font.css?ver=6.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='style-custom-css' href='/static/css/style.css?ver=6.3.2' type='text/css' media='all' />
    <script type='text/javascript' src='/static/js/jquery.min.js?ver=3.7.0' id='jquery-core-js'></script>
    <script type='text/javascript' src='/static/js/jquery-migrate.min.js?ver=3.4.1' id='jquery-migrate-js'></script>
        </head>
</head>
<body class="home page-template page-template-homepage page-template-homepage-php page page-id-16 logged-in admin-bar no-customize-support wp-embed-responsive">
    <div id="wrapper" class="hfeed">
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-6">
                    <a href="/"><img src="/static/images/logo-y2mate.png" alt="Y2matecom Logo"></a>
                </div>
                <div class="col-md-8 col-6">
                    <div class="main-menu-wrapper">
                        <div class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="menu">
                                <li id="menu-home" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-16 menu-item-43"><a href="{% url 'home' %}" aria-current="page" itemprop="url">Home</a></li>
                                <li id="menu-audio" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="{% url 'audio_download' %}" itemprop="url">Youtube Audio Converter</a></li>
                                <li id="menu-video" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="{% url 'video_download' %}" itemprop="url">Youtube Video Downloader</a></li>
                                <li id="menu-shorts" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="{% url 'shorts_download' %}" itemprop="url">Youtube Shorts Download</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="menu-toggle">
                        <a href="javascript:void(0)" class="menu-bar">
                            <span class="bars bar1"></span>
                            <span class="bars bar2"></span>
                            <span class="bars bar3"></span>
                            <span class="bars bar4"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="container" class="custom-container">
        <div class="ads left-sidebar">
            <p>ADVERTISEMENT</p>
            <div class="ad-box"></div>
        </div>
    <main id="content" role="main">
        {% block body %}{% endblock body %}
    </main>
    <div class="ads right-sidebar">
            <p>ADVERTISEMENT</p>
            <div class="ad-box"></div>
        </div>
    </div>
    <footer id="footer" role="contentinfo" class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6>Services</h6>
                    <div class="menu-services-container">
                        <ul id="menu-services" class="menu">
                            <li id="menu-audio" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="{% url 'audio_download' %}" itemprop="url">Youtube Audio Converter</a></li>
                            <li id="menu-video" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="{% url 'video_download' %}" itemprop="url">Youtube Video Downloader</a></li>
                            <li id="menu-shorts" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="{% url 'shorts_download' %}" itemprop="url">Youtube Shorts Download</a></li>
                        </ul>
                    </div> 
                </div>
                <div class="col">
                    <h6>Legal</h6>
                    <div class="menu-legal-container">
                        <ul id="menu-legal" class="menu">
                            <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="{% url 'about' %}" itemprop="url">About Us</a></li>
                            <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="/contact-us/" itemprop="url">Contact us</a></li>
                            <li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="/disclaimer/" itemprop="url">Disclaimer</a></li>
                            <li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="/privacy-policy/" itemprop="url">Privacy Policy</a></li>
                        </ul>
                    </div>  
                </div>
                <div class="col-md-5">
                    <p class="join-newsletter-heading">Join our newsletter to stay up to date.</p>
                    <div class="wpcf7 no-js" id="wpcf7-f42-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                        <form action="/" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
                        <div style="display: none;">
                            {% csrf_token %}
                        <input type="hidden" name="_wpcf7" value="42" />
                        <input type="hidden" name="_wpcf7_version" value="5.7.7" />
                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f42-o1" />
                        <input type="hidden" name="_wpcf7_container_post" value="0" />
                        <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                        </div>
                        <p class="mb-1"><span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Enter Your Email" value="" type="email" name="your-email" /></span><br />
                        <input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="Subscribe" />
                        </p><div class="wpcf7-response-output" aria-hidden="true"></div>
                        </form>
                        </div>
                    <p class="sm-text mb-4">By subscribing you agree to with our Privacy Policy and provide consent to receive updates from our company.</p>
                    <p class="note">Note: We don’t sell your information for more information check <a href="/privacy-policy">Privacy & Policy</a></p>
                </div>
            </div>
            <div id="copyright">
                <p class="mb-2">Made With <i class="fa-solid fa-heart" style="color:#EE4266;"></i> By <a href="https://github.com/maninderdev" class="text-decoration-none" >Maninder <i class="fa-brands fa-github"></i></a></p>
                <p class="mb-0">Copyright &copy; 2024 Y2matecom YouTube Downloader and Converter | All rights Reserved</p>
            </div>
        </div>
    </footer>
    </div>
    <div class="menu-backdrop">
    </div>
    {% comment %} <script type='text/javascript' src='/static/js/index.js?ver=5.7.7' id='contact-form-7-js'></script> {% endcomment %}
    <script type='text/javascript' src='/static/js/bootstrap.bundle.min.js?ver=6.3.2' id='bootstrap-js-js'></script>
    <script type='text/javascript' src='/static/js/jquery.cookie.js' id='jquery-cookie-js'></script>
    <script type='text/javascript' src='/static/js/custom.js?ver=6.3.2' id='custom-js'></script>
    <script>
        jQuery(document).ready(function($){
            var currentMenuId = '#{% block currentActive %}{% endblock currentActive %}'
            $(currentMenuId).addClass('current-menu-item current_page_item');
        });
    </script>
    {% block customscript %}{% endblock customscript %}
    
</body>
</html>